# Основные зависимости
aiogram>=3.18.0          # Telegram API фреймворк (стабильная версия для Python 3.10.5)
sqlalchemy>=2.0.0        # ORM для работы с БД
asyncmy>=0.2.7           # Асинхронный драйвер для MySQL
pydantic>=2.6.4          # Валидация данных и настройки
pydantic-settings>=2.8.1
python-dotenv>=1.0.1     # Чтение .env файлов

# Для миграций
alembic>=1.13.1          # Управление миграциями БД

# Для тестирования
pytest>=8.2.0            # Тестирование
pytest-asyncio>=0.23.6   # Поддержка async/await в pytest